
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>CoolShare ViewCode</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>CoolShare - View Code</h1>
			<div class="code-container">
				<pre><code id="view-code">{{ code | safe }}</code></pre>
			</div>
			<div class="button-group">
				<button id="copy-button">复制代码</button>
				<button id="destroy-button">立即销毁</button>
			</div>
			<div id="countdown"></div>
		</div>

		<script>
			document.addEventListener("DOMContentLoaded", (event) => {
				hljs.highlightElement(document.getElementById("view-code"));

				const copyButton = document.getElementById("copy-button");
				const destroyButton = document.getElementById("destroy-button");
				const countdownDiv = document.getElementById("countdown");

				copyButton.addEventListener("click", () => {
					const code = document.getElementById("view-code").textContent;
					navigator.clipboard.writeText(code).then(
						() => {
							alert("代码已复制到剪贴板");
						},
						(err) => {
							console.error("无法复制代码: ", err);
						}
					);
				});

				destroyButton.addEventListener("click", async () => {
					const shareCode = window.location.pathname.split("/").pop();
          
          // 检查代码片段是否已过期
          const expirationTimeStr = "{{ expiration_time }}";
          const expirationTime = new Date(expirationTimeStr).getTime();
          const now = new Date().getTime();

          if (now > expirationTime) {
            alert("代码已过期，无法销毁");
            return; // 停止执行销毁逻辑
          }

					try {
						const response = await fetch("/destroy", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({ share_code: shareCode }),
						});

						if (response.ok) {
							alert("代码片段已销毁");
							window.location.href = "/";
						} else {
							const data = await response.json();
							alert(`销毁失败: ${data.error}`);
						}
					} catch (error) {
						console.error("Error:", error);
						alert("销毁失败，请稍后再试");
					}
				});

				const expirationTimeStr = "{{ expiration_time }}";
				const expirationTime = new Date(expirationTimeStr).getTime();

				function updateCountdown() {
					const now = new Date().getTime();
					const timeLeft = expirationTime - now;

					if (timeLeft > 0) {
						const hours = Math.floor(
							(timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
						);
						const minutes = Math.floor(
							(timeLeft % (1000 * 60 * 60)) / (1000 * 60)
						