<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CoolShare ViewCode</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>CoolShare - View Code</h1>
			<div class="code-container">
				<pre><code id="view-code">{{ code }}</code></pre>
			</div>
			<div class="button-group">
				<button id="copy-button">复制代码</button>
				<button id="destroy-button">立即销毁</button>
			</div>
			<div id="countdown"></div>
		</div>
        <input type="hidden" id="expiration-time" value="{{ expiration_time }}">
		<script src="/static/view-script.js"></script>
	</body>
</html>