<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CoolShare CodeView</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css" />
	<link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.js"></script>
</head>

<body>
	<div class="container">
		<div class="header">
			<img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo" />
			<h1>CoolShare-CodeView</h1>
		</div>
		<div class="code-container">
			<pre><code id="view-code"></code></pre>
		</div>
		<div class="button-group">
			<button id="copy-button" data-clipboard-target="#view-code">复制代码</button>
			<button id="destroy-button">立即销毁</button>
		</div>
		<div id="countdown"></div>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", (event) => {
			const codeContainer = document.getElementById("view-code");
			const originalCodeBase64 = "{{ code_base64 }}"; // 使用 Base64 编码后的代码内容

			// Base64 解码函数
			function base64Decode(str) {
				return decodeURIComponent(
					atob(str)
						.split("")
						.map(function (c) {
							return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
						})
						.join("")
				);
			}

			const originalCode = base64Decode(originalCodeBase64);
			codeContainer.textContent = originalCode;
			hljs.highlightElement(codeContainer);

			const destroyButton = document.getElementById("destroy-button");
			const countdownDiv = document.getElementById("countdown");

			const clipboard = new ClipboardJS("#copy-button");
			clipboard.on("success", function (e) {
				alert("代码已复制到剪贴板");
			});
			clipboard.on("error", function (e) {
				alert("复制失败，请手动复制");
			});

			destroyButton.addEventListener("click", async () => {
				const shareCode = window.location.pathname.split("/").pop();
				try {
					const response = await fetch("/destroy", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({ share_code: shareCode }),
					});
					if (response.ok) {
						alert("代码片段已销毁");
						window.location.href = "/";
					} else {
						const data = await response.json();
						alert(`销毁失败: ${data.error}`);
					}
				} catch (error) {
					console.error("Error:", error);
					alert("销毁失败，请稍后再试");
				}
			});

			const expirationTimeStr = "{{ expiration_time }}";
			const expirationTime = new Date(Number(expirationTimeStr));

			function updateCountdown() {
				const now = new Date().getTime();
				const timeLeft = expirationTime - now;
				if (timeLeft > 0) {
					const hours = Math.floor(
						(timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
					);
					const minutes = Math.floor(
						(timeLeft % (1000 * 60 * 60)) / (1000 * 60)
					);
					const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
					countdownDiv.textContent = `代码将在 ${hours}小时 ${minutes}分钟 ${seconds}秒 后过期`;
				} else {
					countdownDiv.textContent = "代码已过期";
					destroyButton.disabled = true;
				}
			}

			updateCountdown();
			setInterval(updateCountdown, 1000);
		});
	</script>
</body>

</html>